@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Segoe\ UI.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Italic';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Segoe\ UI\ Italic.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Segoe\ UI\ Bold.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Segoe\ UI\ Bold\ Italic.woff') format('woff');
}
* {
    font-family: 'Segoe UI Regular', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    margin: 0px;
}
header {
    background-color: #3A3A3A;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100vw;
    top: 0px;
}
main {
    margin-top: 60px;
}
header nav a {
    font-family: 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
    font-size: 13px;
    margin: 10px;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.miniatura {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.banner {
    background-image: url(images/coffee.jpg);
    height: 300px;
}
.container-apresentacao {
    margin-top: -130px;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    grid-template-rows: 130px 1fr 2fr;
}
.foto-social{
    width: 260px;
    grid-column: 2 / 2;
    grid-row: 1 / 2;
}
.nome {
    max-width: 75%;
    grid-column: 3 / 3;
    grid-row: 2 / 2;
    text-align: left;
    padding-left: 20px;
    box-sizing: border-box;
}
.nome h1 {
    font-family: 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
}
.nome h2 {
    font-family: 'Segoe UI Bold Italic', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    margin: 5px;
    font-style: italic;
}
.descricao {
    width: 100%;
    grid-column: 3 / 3;
    grid-row: 3 / 3;
    padding-left: 20px;
    box-sizing: border-box;
}
.descricao h3 {
    color: #707070;
    font-size: 28px;
    margin: 5px;
}
.descricao p {
    font-weight: 500;
    font-size: 18px;
    color: #707070;
    margin: 5px;
}
.foto-social > img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
}
.icon-social {
    width: 60px;
    height: 60px;
}
.foto-social nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -60px;
    width: 260px;
}
.vertical {
    background-color: black;
    width: 8px;
    height: 66px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
}
.grupo-text {
    display: inline-block;
}
#formacao {
    background-color: #DEDEDE;
    padding: 2em;
}
#formacao > h1 {
    font-size: 30px;
    font-family: 'Segoe UI Regular', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 0px;
}
.txt-pequeno {
    font-size: 13px;
}
.txt-descritivo {
    font-size: 21px;
    font-family: 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
}
.item-formacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em;
}
@media screen and (max-width: 900px) {
    .banner {
        height: 250px;
    }
    .foto-social > img {
        width: 200px;
        height: 200px;
    }
    .icon-social {
        width: 50px;
        height: 50px;
    }
    .foto-social nav {
        width: 200px;
    }
    .nome h1 {
        font-size: 23px;
    }
    .nome h2 {
        font-size: 18px;
    }
    .descricao h3 {
        font-size: 18px;
    }
    .descricao p {
        font-size: 16px;
    }
    .container-apresentacao {
        margin-top: -120px;
        grid-template-columns: 1fr 200px 3fr 1fr;
    }
    #formacao > h1 {
        font-size: 20px;
    }
    .txt-pequeno {
        font-size: 13px;
    }
    .txt-descritivo {
        font-size: 18px;
    }
}
@media screen and (max-width: 700px) {
    header nav a {
        font-size: 11px;
    }
    .banner {
        height: 170px;
    }
    .foto-social > img {
        width: 170px;
        height: 170px;
    }
    .icon-social {
        width: 40px;
        height: 40px;
    }
    .foto-social nav {
        width: 170px;
    }
    .nome h1 {
        font-size: 18px;
    }
    .nome h2 {
        font-size: 14px;
    }
    .descricao h3 {
        font-size: 14px;
    }
    .descricao p {
        font-size: 14px;
    }
    .container-apresentacao {
        margin-top: -90px;
        grid-template-columns: 1fr 170px 5fr 1fr;
        grid-template-rows: 100px 1fr 2fr;
    }
}
@media screen and (max-width: 500px) {
    header nav {
        display: none;
    }
    .banner {
        height: 100px;
    }
    .foto-social {
        width: 150px;
        align-content: center;
;
    }
    .foto-social > img {
        width: 170px;
        height: 170px;
    }
    .icon-social {
        width: 40px;
        height: 40px;
        margin-top: 20px;
    }
    .foto-social nav {
        width: 170px;
    }
    .nome {
        margin-left: 10%;
    }
    .nome h1 {
        font-size: 20px;
    }
    .nome h2 {
        font-size: 18px;
    }
    .descricao h3 {
        font-size: 16px;
    }
    .descricao p {
        font-size: 14px;
    }
    .container-apresentacao {
        margin-top: -90px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #formacao > h1 {
        font-size: 20px;
    }
    .txt-pequeno {
        font-size: 12px;
    }
    .txt-descritivo {
        font-size: 14px;
    }
}